<div class="title">
	<h3>お気に入り</h3>
</div>
<br>

<% if @products.length == 0 %>
	<h4>お気に入り商品はありません</h4>
	<% end %>
<div class="col-md-8 col-md-offset-2">

	<% @products.each do |product| %>
	<div class="product_index">
		<%= link_to products_show_path(product.id) do %>
		<%= attachment_image_tag product, :music_image, fallback: "no_image.jpg", size: "150x150" %><br>
		<% end %>
		<%= link_to products_show_path(product.id) do %>
		<%= product.title %><br>
		<% end %>
		<%= product.artist.artist_name %>
		<%= link_to favorite_path(product), :method => :delete, data: { confirm: '削除しますか？' } , class: "btn btn-default btn-xs" do %>
		<i class="delete-icon glyphicon glyphicon-trash" aria-hidden="true"></i>
		<% end %>
	</div>
	<% end %>
</div>



<style>

h4{
	margin-top: 50px;
	text-align: center
}
.space{
	height: 200px;
}

.product_index {
	background-color: #D4D7D8;
	margin: 5px 15px;
	padding: 15px;
	width: 180px;
	float: left;
}

.btn.btn-default {
	float: right;
}
.delete-icon {
	height: 24px;
	width: 20px;
	padding: 3px;
	font-size: 14px;
}
</style>