<div class="col-md-10 col-md-offset-1 ">
	<div class="title">
		<h3>商品一覧ページ</h3>
	</div>
	<% @products.each do |product| %>
	<div class="col-md-5 col-md-offset-1">
		<table class="table">
			<tbody>

				<%= attachment_image_tag product, :music_image,  format: 'jpeg', class: "music_image", fallback: "no_image.jpg", size: "150x150" %>

				<% if  product.is_deleted == true  %>
				<span class="sakujyo">削除済み</span>
				<% end %>

				<tr class="active">
					<td>タイトル</td>
					<td><%= product.title %></td>
				</tr>
				<tr class="active">
					<td>アーティスト</td>
					<td><%= product.artist.artist_name %></td>
				</tr>
				<tr class="active">
					<td>レーベル</td>
					<td><%= product.label.label_name %></td>
				</tr>
				<tr class="active">
					<td>ジャンル</td>
					<td><%= product.genre.genre_name %></td>
				</tr>
				<tr class="active">
					<td>価格</td>
					<td><%= product.price %></td>
				</tr>
				<tr class="active">
					<td>在庫数</td>
					<td><%= product.stock %></td>
				</tr>
				<tr class="active">
					<td><button type="button" class="btn btn-success"><%=link_to "編集", product_path(product), class: "button" %></button></td>
					<td><button type="button" class="btn btn-danger"><%= link_to "削除", admins_destroy_path(product), method: :delete, "data-confirm" => "本当に削除しますか？", class: "button" %></button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<% end %>
	<p class="link"><%= link_to "戻る", admins_top_path, class: "link" %></p>
</div>

<style>
.sakujyo{
	background-color: black;
	color: white;
	margin-left: 100px;
	padding: 10px;
}
.music_image {
	margin-bottom: 5px;
}
.link {
	color: black;
	margin-left: 55px;
}
.button {
	color: black;
}
</style>