<div id="master-login">
	<% if admin_signed_in? %>
	<%= current_admin.email %>
	<span>ログイン中</span>
	<br>
	<br>
	<%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "" %>
	<% end %>
	<br>
</div>

<div id="master-content">
	<br>
	<%= link_to "商品登録", products_new_path, class: "master-content-link" %>
	<br>
	<br>
	<%= link_to "商品一覧", admins_products_path, class: "master-content-link" %>
	<br>
	<br>
	<%= link_to "ユーザ一覧", admins_path, class: "master-content-link" %>
	<br>
	<br>
	<%= link_to "マスタ登録", master_new_path, class: "master-content-link" %>
	<br>
	<br>
</div>


<style>
	#master-content{
		font-size: 26px;
		text-align: center;
		height: 400px;
	}

	.master-content-link{
		padding-bottom: 20px;
	}
</style>