<h1>ユーザ詳細ページ</h1>

<br>

<% if flash[:notice] %>
	<p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>

<div class="col-md-3">
	<label>プロフィール画像</label>
	<%= attachment_image_tag @user, :profile_image,  format: 'jpeg', class: "", fallback: "no_image.jpg", size: "240x280" %>
</div>


<div class="col-md-5 col-md-offset-1">
	<table class="table">
		<tbody>
			<tr>
				<td>ユーザ名</td>
				<td><%= @user.user_name %></td>
			</tr>
			<tr>
				<td>かな</td>
				<td><%= @user.user_kana %></td>
			</tr>
			<tr>
				<td>郵便番号</td>
				<td><%= @user.zip_code %></td>
			</tr>
			<tr>
				<td>住所</td>
				<td><%= @user.address %></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td><%= @user.phone_number %></td>
			</tr>
		</tbody>
	</table>
	<%= link_to 'ユーザ情報編集', admins_useredit_path %>
</div>

<div class="col-md-10">
	<h1>購入履歴</h1>
	<%= link_to "戻る", admins_path %>
</div>