<div class="title">
	<h3>ユーザ編集</h3>
</div>

<br>

<% if flash[:warning] %>
	<p class="alert alert-danger"><%= flash[:warning] %></p>
<% end %>

<%= form_for(@user,url: admins_userupdate_path) do |user| %>
	<div class="col-md-2 col-md-offset-2">
		<label>プロフィール画像</label>
		<%= attachment_image_tag @user, :profile_image,  format: 'jpeg', class: "", fallback: "no_image.jpg", size: "220x220" %>
		<br><br>
		<%= user.attachment_field :profile_image, class: "" %><br>
	</div>

	<div class="col-md-5 col-md-offset-1">
		<table class="table">
			<tbody>
				<tr>
					<td>ユーザ名</td>
					<td><%= user.text_field :user_name %></td>
				</tr>
				<tr>
					<td>かな</td>
					<td><%= user.text_field :user_kana %></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%= user.text_field :zip_code %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= user.text_field :address %></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><%= user.text_field :phone_number %></td>
				</tr>
			</tbody>
		</table>
		<%= user.submit "更新", class: "btn btn-default btn-sm" %>
		<br><br><br><br>
		<%= link_to "戻る", :back %>
	</div>
<% end %>

<style>
	.table {
		background-color: #f5f5f5;
		border-radius: 10px;
	}
</style>