<h1>注文履歴</h1>

<div class="orders">
	<% @orders.each do |order| %>
	<!-- 注文ごとの合計金額変数 -->
	<% totalamount = 0 %>
	<!-- ８桁の番号になるように左から０埋め -->
	<div class="order-content">
		<div class="left-content">
		<p><strong>注文番号：<%= "%08d" % order.id %></strong></p>
		<!-- それぞれカラムの値によって表示を変更 -->
		<label>配送ステータス</label>
			<% case order.status
				when 0 %>
					<span id="status1" class="status">受付中</span>
				<%when 1%>
  					<span id="status2" class="status">配送中</span>
  				<%when 2%>
  					<span id="status3" class="status">配送済</span>
  			<% end %>
  			<br>
  			<br>
		<label>支払い方法</label>
		<% case order.pay
				when 0 %>
					<span class="pay status">代引き</span>
				<%when 1%>
  					<span class="pay status">クレジットカード</span>
  			<% end %>
  			<br>
  		</div>

  		<div class="right-content">
  			<!-- orderproductテーブルのレコード -->
  			<% @orderproducts.each do |product| %>
				<% if product.order_id == order.id %>
					<%= link_to products_show_path(product.product.id) do %>
						<%= attachment_image_tag product.product, :music_image, class: "", fallback: "no_image.jpg", size: "100x100" %>
					<% end %>
					<%= link_to products_show_path(product.product.id) do %>
						<%= product.product.title %>
					<% end %>
					<%= product.price %>円
					<%= product.quantity %>個
					小計：<%= sum = product.price * product.quantity %>円
					<% totalamount += sum %>
					<br>
					<br>

				<% end %>
			<% end %>
			合計：<%= totalamount %>円
		</div>
		</div>
	<% end %>
</div>



<style>
	h1{
		text-align: center;
	}

	.orders{
		margin-top: 70px;
		margin-left: 20%;
	}

	.order-content{
		margin-bottom: 30px;
		padding: 20px;
		width: 80%;
		background-color: #f5f5f5;
	}

/*	.left-content{
		width: 20%;
		float: left;
	}

	.right-content{
		float: left;
	}*/

	.status {
	display: inline-block;
	padding: 5px 5px;
	/*background-color: #ffc0cb;*/
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	}
	.pay{
		margin-left: 28px;
		background-color: gray;
	}

	#status1{
		background-color: #1e90ff;
	}

	#status2{
		background-color: green;
	}

	#status3{
		background-color: gray;
	}

</style>