<div class="title">
		<h3>配送先・支払い方法入力</h3>
</div>

<% if flash[:notice] %>
	<p class="alert alert-success"><%= flash[:notice] %></p>
<% elsif flash[:warning] %>
	<p class="alert alert-warning"><%= flash[:warning] %></p>
<% end %>
<br>
<div class="col-md-10 col-md-offset-2">
	<div class="dest">
	<!-- 配送先 -->
	<h3>配送先</h3>


		<div class="dest-new col-md-12">
			<h4 style="text-decoration: underline">新規配送先登録</h4>
				<%= form_for(@dest) do |f| %>
					<label>宛名</label><br>
					<%= f.text_field :friend_name, class: "" %><br>
					<label>郵便番号</label><br>
					<%= f.text_field :zip_code, class: "" %><br>
					<label>住所</label><br>
					<%= f.text_field :address, class: "" %><br>
					<br>
				<!-- 非同期処理にすると、登録先を選ぶ部分が面倒になるため、同期処理にする -->
					<%= f.submit "登録", class: "btn btn-default" %>
				<% end %>
		</div>
		<div class="dest-registered col-md-12">
			<h4 style="text-decoration: underline">登録済みの配送先</h4>
			<% i = 1 %>
			<% @dests.each do |f| %>
			<div class="dest-content">
				<label>送り先<%= i %></label><br>
				<label>宛名:</label>
				<%= f.friend_name %><br>
				<label>郵便番号:</label>
				<%= f.zip_code %><br>
				<label>住所:</label>
				<%= f.address %>
				<% i += 1 %>
				<br>
			</div>
			<% end %>

		<!-- 配送先情報表示部分 -->
		<!-- 非同期に更新できる？ -->
		<!-- 配送先情報表示部分 -->
		</div>
	</div>


	<div class="pay">
		<br>
		<!-- はじめは代引きにチェックが入っているようにするための処理 -->
		<% @order.pay = 0 %>

		<%= form_for(@order) do |f| %>
		<div id="destselect">
		<label>配送先選択</label>
		<%= f.collection_select :destination_id, @dests, :id, :friend_name %>
		</div>
		<br><br><br><br>

		<h3>支払い方法</h3>
			<%=f.radio_button :pay, 0, class: "" %>代引き
			<br>
			<br>
			<%=f.radio_button :pay, 1, class: "" %>クレジットカード
			<br>
			<br>
			<%=f.submit '注文を確定する', class: "submitbtn" %>
		<% end %>
	</div>
</div>

<script>
    this.class_names.select();
</script>

<style>
	h1{
		text-align: center;
	}

	.dest{
		height: 300px;
		margin-bottom: 50px;

	}

	#destselect{
		margin-left: 45px;
	}

	.dest-content{
		width: 200px;
		margin-left: 30px;
		padding: 20px;
		float: left;
		background-color: #f5f5f5;
		border-radius: 10px;
	}

	.dest-new{
		margin-bottom: 30px;
	}

	.dest-registered{
		margin-bottom: 20px;
	}

	.pay{
		margin-top: 100px;
		margin-bottom: 30px;
	}

	.finish-order{
		text-align: right;
	}

	.submitbtn{
		margin-top: 30px;
		text-align: center;
		margin-left: 20%;
		width: 40%;
	}
</style>