<h1>配送先・支払い方法選択</h1>

<% if flash[:notice] %>
	<p class="alert alert-success"><%= flash[:notice] %></p>
<% elsif flash[:warning] %>
	<p class="alert alert-warning"><%= flash[:warning] %></p>
<% end %>

<div class="col-md-10 col-md-offset-2">
	<div class="dest">
	<!-- 配送先 -->
	<h4>配送先</h4>
		<div class="dest-registered col-md-6">
			<h5>登録済みの配送先</h5>
			<% i = 1 %>
			<% @dests.each do |f| %>
				<label>送り先<%= i %></label>
				<br>
				<label>宛名:</label>
				<%= f.friend_name %><br>
				<label>郵便番号:</label>
				<%= f.zip_code %><br>
				<label>住所:</label>
				<%= f.address %>
				<% i += 1 %>
				<br>
			<% end %>
		</div>
		<div class="dest-new col-md-6">
			<h5>新規配送先登録</h5>
				<%= form_for(@dest) do |f| %>
					<label>宛名</label><br>
					<%= f.text_field :friend_name, class: "" %><br>
					<label>郵便番号</label><br>
					<%= f.text_field :zip_code, class: "" %><br>
					<label>住所</label><br>
					<%= f.text_field :address, class: "" %><br>
					<br>
					<!-- 非同期処理にすると、登録先を選ぶ部分が面倒になるため、同期処理にする -->
					<%= f.submit "登録", class: "btn btn-default" %>
				<% end %>
		</div>
	</div>


	<div class="pay">
		<h4>支払い方法</h4>

		<%= form_for(@order) do |f| %>
			<%=f.radio_button :pay, 0%>代引き
			<br>
			<br>
			<%=f.radio_button :pay, 1%>クレジットカード

		<% end %>
	</div>

	<br>
	<br>
	<%= link_to '注文を完了する',  class: "btn btn-default" %>
</div>

<style>
	.dest{
		height: 300px;
		margin-bottom: 50px;
	}

	.pay{
		margin-top: 30px;
	}
</style>