<h1>収録曲登録ページ</h1>

<h3><%= @product.title %> / <%= @product.artist.artist_name %></h3>

<table class="table">
	<thead>
		<tr>
			<th><label>ディスク番号</label></th>
			<th><label>トラック番号</label></th>
			<th><label>収録曲名</label></th>
			<th></th>
		</tr>
	</thead>

	<tbody id="musicTablebody">
		<%= form_for(@product_music) do |f| %>
		<% 5.times do |times| %>
		<tr id="musi_row">
			<td id="disc_num">
				<%= f.select :disc_num, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6,],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15]] %>
			</td>
			<td id="track_num">
				<%= f.select :track_num, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6,],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15]] %>
			</td>
			<td id="music_name">
				<%= f.collection_select :music_id, Music.all, :id, :music_name, :include_blank => true %>
			</td>
			<td></td>
		</tr>
		<% end %>
		<%= f.submit '登録', class: "cart_update btn btn-default btn-sm" %>
		<% end %>
	</tbody>
</table>

<%= link_to "TOPへ戻る", admins_top_path %>

<style>
	.table {
		width: 800px;
	}
</style>