<%= h(flash[:notice]) %>


<!-- スライドショー -->

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="product_title">商品一覧</h1>
      
			<!-- 並べ替えプルダウン -->

			<form>
				<select name="num">
					<option value="">-</option>
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
				</select>
			</form>

			<!-- 商品一覧（新着順） -->
			<div id="products">
			<% @products.each do |product| %>
				<div class="product_index">
					<%= attachment_image_tag product, :music_image, :fill, 200, 200 %>
					<p><%= product.title %></p>

			<!-- Pカートアイコンをカート追加のリンクにする -->
					<div class="carticon">
                		<%= link_to carts_create_path(product_id: product.id) do %>
                		<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                		<% end %>
              		</div>
				</div>
			<% end %>
			</div>

			<!-- カート追加ボタン -->
			<!-- ページャ -->
			<%= paginate @products, class: "paginate" %>



			<% if user_signed_in? %>
			<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
			<% end %>

		</div>
	</div>
</div>

<script>
	$(function(){
		$("#sorting").on("change", function(){
			console.log($(this).val())

			const sortValue = $(this).val()
			$.ajax({
				url: '/products/sort',
				type: 'post',
				dataType: 'json',
				data: {
					sortValue: sortValue
				},
				beforeSend: function(xhr){
					xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
				}
			})
			.done((e)=>{
				console.log(e)
				$("#products").empty()
				e.forEach((value)=>{
					console.log(value)
					$('#products').append('<div class="product_index"><p>'+value.title+'</p></div>')
				})
			})
		})
	})

</script>

<style>
.product_title {
	text-align: center;
}
.product_index {
	background-color: #D4D7D8;
	margin: 5px;
	padding: 10px;
	width: 230px;
	float: left;
}
.dropdown {
	float: right;
}

</style>
