<%= h(flash[:notice]) %>










<div class="bg_move">


<!-- スライドショー -->

<div id="products", class="center">
			<% @slideproducts.each do |product| %>

				<div class="">

					<%= link_to products_show_path(product.id) do %>
						<%= attachment_image_tag product, :music_image, :fill, 200, 200, fallback: "no_image.jpg",class: "slideimg" %>
					<% end %>
					
              		<!-- 発売日が１週間以内のものにNEWと表示。登録日に変更も可能 -->
					<% if (Date.today - product.release_date) < 7 %>
					<% end %>

				</div>
			<% end %>
			</div>

			<!-- 検索バー -->

<div class="search col-md-2">
	

	<%= search_form_for @search do |f| %>
		<h2>検索メニュー</h2>
		<hr width="200">

	  <div class="form-group">
	  	 <%= f.text_field :title_cont,:placeholder => "商品名"%>
	  	 <%= f.search_field :artist_id,:placeholder => "アーティスト名"%><br />
	     <%= f.label :ジャンル %><br />
	     <%= f.collection_select :genre_id_eq, Genre.all, :id, :genre_name, { include_blank: true} %><br>
	     <%= f.label :シーン %><br />
         <%= f.collection_select :scene_id, Scene.all, :id, :scene_name, { include_blank: true} %><br>




         <label>発売日</label><br>
         <%= f.date_field :release_date %>
         <br>

	  </div>
	  <div class="actions"><%= f.submit "検索" %></div>



	<% end %>

</div>

<div class="container">
	<div class="row">
		<div class="col-md-9 col-md-offset-1">
			<h1 class="product_title">商品一覧</h1>



			<!-- 並べ替えプルダウン -->

			<form>
				<select id="sorting">
					<option value="">-----</option>
					<option value="price_desc">価格の高い順</option>
					<option value="price_asc">価格の低い順</option>
					<option value="review_score">評価順</option>
				</select>
			</form>








			<!-- 商品一覧（ransack） -->
			<div id="products">

			<% @result.each do |product| %>

				<div class="product_index">

					<%= link_to products_show_path(product.id) do %>
						<%= attachment_image_tag product, :music_image, class: "", fallback: "no_image.jpg", size: "200x200" %>
					<% end %>
					<%= link_to products_show_path(product.id) do %>

						<p><%= product.title.truncate(15) %></p>
					<% end %>
					<p><%= product.artist.artist_name %></p>

					<!-- カートアイコンをカート追加のリンクにする -->
					<!-- カートへの追加は非同期処理で行う　-->
					<% if user_signed_in? %>
					<div class="carticon">

                		<%= link_to carts_create_path(product_id: product.id),remote: true do %>
                		<i class="cart-icon glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                		<% end %>
              		</div>
              		<!-- 発売日が１週間以内のものにNEWと表示。登録日に変更も可能 -->

					<% if (Date.today - product.release_date) < 7 %>
					<span class="new">New</span>
					<% end %>


					<!-- お気に入りの追加・削除をアイコンのクリックで変更できるようにするか検討中 -->
					<div class="favoriteicon">
						<%= link_to favorites_create_path(product_id: product.id), remote: true do %>
						<i class="favorite-icon glyphicon glyphicon-heart" aria-hidden="true"></i>
						<% end %>
					</div>
					<% end %>

				</div>
				<% end %>
			</div>

			<!-- カート追加ボタン -->
			<!-- ページャ -->

		</div>
	</div>
</div>

</div>




<script>
	$(function(){
		$("#sorting").on("change", function(){
			console.log($(this).val())

			const sortValue = $(this).val()
			$.ajax({
				url: '/products/sort',
				type: 'post',
				dataType: 'json',
				data: {
					sortValue: sortValue
				},
				beforeSend: function(xhr){
					xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
				}
			})
			.done((e)=>{
				console.log(e)
				$("#products").empty()
				e.forEach((value)=>{
					console.log(value)
					$('#products').append('<div class="product_index"><p>'+value.title+'</p></div>')
				})
			})
		})
	})

</script>

<style>

.search{

	margin-top: 10px;

}








.product_title {
	/*text-align: center;*/
}
.product_index {
	background-color: #D4D7D8;
	margin: 5px;
	padding: 10px;
	width: 230px;
	float: left;
}
.dropdown {
	float: right;
}

.cart-icon{
	height: 30px;
	width: 30px;
	font-size: 24px;
	float: left;
}

.slideimg{
}
.favorite-icon{
	height: 30px;
	width: 30px;
	font-size: 24px;
	float: left;
}

.new {
	display: inline-block;
	padding: 5px 8px;
	background-color: #ffc0cb;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	float: right;
}



.bg_move{
    background-image: url('amechan.jpg');
    height: 500px;
    animation: moveBg 5s infinite linear;
}
@keyframes moveBg{
    0%    { background-position: 0 0; }
    100%  { background-position: -256px 256px; }
}
</style>