<%= h(flash[:notice]) %>


<!-- スライドショー -->

<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-offset-1">
			<h1 class="product_title">商品一覧</h1>

			<!-- 並べ替えプルダウン -->

			<form>
				<select id="sorting">
					<option value="">-----</option>
					<option value="price_desc">価格の高い順</option>
					<option value="price_asc">価格の低い順</option>
					<option value="review_score">評価順</option>
				</select>
			</form>

			<!-- 商品一覧（新着順） -->
			<div id="products">
			<% @products.each do |product| %>
				<div class="product_index">
					<%= attachment_image_tag product, :music_image, fallback: "no_image.jpg", size: "200x200"  %>
					<p><%= product.title %></p>

			<!-- カートアイコンをカート追加のリンクにする -->
			<!-- カートへの追加は非同期処理で行う　-->
					<div class="carticon">
                		<%= link_to carts_create_path(product_id: product.id),remote: true do %>
                		<i class="cart-icon glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                		<% end %>
              		</div>
              		<!-- 発売日が１週間以内のものにNEWと表示。登録日に変更も可能 -->
              		<% if (Date.today - product.release_date) < 7 %>
              			<span class="new">New</span>
              		<% end %>

				</div>
			<% end %>
			</div>

			<!-- カート追加ボタン -->
			<!-- ページャ -->
			<%= paginate @products, class: "paginate" %>

		</div>
	</div>
</div>

<script>
	$(function(){
		$("#sorting").on("change", function(){
			console.log($(this).val())

			const sortValue = $(this).val()
			$.ajax({
				url: '/products/sort',
				type: 'post',
				dataType: 'json',
				data: {
					sortValue: sortValue
				},
				beforeSend: function(xhr){
					xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
				}
			})
			.done((e)=>{
				console.log(e)
				$("#products").empty()
				e.forEach((value)=>{
					console.log(value)
					$('#products').append('<div class="product_index"><p>'+value.title+'</p></div>')
				})
			})
		})
	})

</script>

<style>
.product_title {
	/*text-align: center;*/
}
.product_index {
	background-color: #D4D7D8;
	margin: 5px;
	padding: 10px;
	width: 230px;
	float: left;
}
.dropdown {
	float: right;
}

.cart-icon{
	height: 30px;
	width: 30px;
	font-size: 24px;
	float: left;
}

.new {
  display: inline-block;
  padding: 5px 8px;
  background-color: #ffc0cb;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  float: right;
}
</style>