<div class="title">
    <h3>商品登録</h3>
</div>

<% if flash[:notice] %>
<p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>


<% if flash[:warning] %>
<p class="alert alert-success"><%= flash[:warning] %></p>
<% end %>

<br>
<br>
<div class="col-md-offset-2 col-md-10">
<%= form_for(@product) do |product| %>
    <div class="col-md-4">
        <div id="img">
            <label>ジャケット画像</label>
            <%= product.attachment_field :music_image %>
        </div>
        <br>

        <div class="attr">
            <label>タイトル</label>
            <%= product.text_field :title, class: "form" %>
            <br>

            <label>かな</label>
            <%= product.text_field :kana, class: "form" %>
            <br>

            <label>価格</label>
            <%= product.text_field :price, class: "form" %>
            <br>
            <!-- アーティストの入力方法はより良いものに変更予定 -->
            <label>アーティスト</label>
             <%= product.select :artist_id, options_from_collection_for_select(@artists, :id, :artist_name), {include_blank: true}, class: "searchable form" %>
            <br>

            <label>レーベル</label>
            <%= product.collection_select :label_id, Label.all, :id, :label_name, { include_blank: true}, class: "form" %>
            <br>

            <label>ジャンル</label>
            <%= product.collection_select :genre_id, Genre.all, :id, :genre_name, { include_blank: true}, class: "form" %>
            <br>

            <label>シーン</label>
            <%= product.collection_select :scene_id, Scene.all, :id, :scene_name, { include_blank: true}, class: "form" %>
            <br>

            <!-- カレンダーで入力-->
            <label>発売日</label>
            <%= product.date_field :release_date, class: "form" %>
            <br>

            <label>在庫数</label>
            <%= product.text_field :stock, class: "form" %>
            <br>

            <%= product.submit "登録", class: "btn btn-default btn-sm" %>
            <br>
        </div>
        <br>
        <br>
        <%= link_to '戻る', admins_top_path, class: "link" %>
    </div>


    <div class="col-md-6">
        <div>
            <%= product.fields_for :product_musics do |music| %>
                <%= render 'product_music_fields', f: music %>
                <%= link_to_add_association '追加', product, :product_musics,
            data: {
                association_insertion_node: '#product_musics_body',
                association_insertion_method: 'append'
            }, class: "btn btn-default btn-sm" %>
            <% end %>
        </div>
    </div>
    <br>
    <br>
<% end %>
</div>

<script >
    $(document).ready(function() {
    $('.searchable').select2();
});

</script>

<style>
#img{
    margin-left: 15px;
}

.attr{
    text-align: right;
    width: 250px;
}

.label{
    display: inline-block;
    width: 100px;
}

.form{

    width: 130px;
}
</style>
