<h1>新規投稿</h1>

<%= h(flash[:notice])  %>


<%= h(flash[:warning])  %>
<!-- form_for部分 -->
<%= form_for(@product) do |product| %>

	<label>画像</label>
    <%= product.attachment_field :music_image %>
 
    <label>タイトル</label>
    <%= product.text_field :title %>
    <br>
 
    <label>価格</label>
    <%= product.text_field :price %>
    <br>

    <label>レーベル</label>
    <%= product.text_field :label_id %>
    <br>

    <label>ジャンル</label>
    <%= product.text_field :genre_id %>
    <br>

    <label>シーン</label>
    <%= product.text_field :scene_id %>
    <br>

   <label>発売日</label>
    <%= product.text_field :release_date %>
    <br>

   <label>在庫数</label>
    <%= product.text_field :stock %>
    <br>



 
    <%= product.submit '投稿' %>
 
<% end %>