<h1>商品詳細</h1>

<% if flash[:notice] %>
       <p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:warning] %>
       <p class="alert alert-danger"><%= flash[:warning] %></p>
<% end %>
<% if flash[:delete] %>
	<p class="alert alert-success"><%= flash[:delete] %></p>
<% end %>

<div class="col-md-2 col-md-offset-4">
	<%= attachment_image_tag @product, :music_image, class: "", fallback: "no_image.jpg", size: "200x200" %>
</div>

<div class="col-md-4">
	<div class="">商品名：<%= @product.title %></div>
	<div class="">アーティスト：<%= @product.artist.artist_name %></div>
	<div class="">価格：<%= @product.price %>円</div>
	<div class="">レーベル：<%= @product.label.label_name %></div>
	<div class="">ジャンル：<%= @product.genre.genre_name %></div>
	<div class="">総レビュー数：<%= link_to "#product_review" do %>
		<%= @product.reviews.count %><% end %>件</div>
	<%= link_to "カートに入れる", carts_create_path(product_id: @product.id),remote: true, class: "btn btn-default btn-sm" %>

	<br>
	<br>

	<div class="panel panel-default disc_form">
  		<div class="panel-body">
  			<% @product.product_musics.each do |product_music| %>
  				<p><%= product_music.disc_num %></p>
    			<p><%= product_music.track_num %> : <%= product_music.music.music_name %></p>
    		<% end %>
  		</div>
	</div>
</div>


<% if user_signed_in? %>
<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-default review_form">
		<div class="panel-body">
			<div id="star-rating"></div>
			<%= form_for(@review) do |f| %>
				<label>タイトル</label>
				<%= f.text_field :title %>
				<br><br>
				<label>本　文　</label>
				<%= f.text_area :body %>
				<br><br>
				<%= f.submit "投稿" %>
			<% end %>
		</div>
	</div>
</div>
<% end %>


<div class="col-md-4 col-md-offset-4">
	<!-- current_userにレビュー削除機能を追加する -->
	<h3 id="product_review">商品レビュー</h3>
	<% if @product.reviews.length == 0 %>
		<h4>商品レビューがありません</h4>
		<!-- 件数が０のときにフッタが上にきてしまうのを防ぐためのdiv -->
		<div class="space"></div>
	<% end %>

	<% @product.reviews.each do |review| %>
	<div class="panel panel-default review_form">
		<div class="panel-body">
			<div class="review_index">
				<p>投稿者：<%= review.user.user_name %></p>
				<p><strong><%= review.title %></strong><p>
				<p><%= review.body %></p>
			</div>
			<div class="review_created_at">
				<p><%= review.created_at.strftime('%Y年%m月%d日') %></p>
				<br>
				<br>
				<% if review.user == current_user %>
					<%= link_to '削除', review_path(@product), :method => :delete, data: { confirm: '削除しますか？' } , class: "btn btn-default" %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>

<style>
	h1{
		text-align: center;
	}
	.disc_form {
		width: 250px;
	}
	.review_form {
		width: 500px;
	}
	.review_index {
		float: left;
		width: 330px;
	}
	.review_created_at {
		float: right;
		text-align: right;
		width: 120px;
	}
</style>