<!DOCTYPE html>
<html>
<head>
  <title>ToYourHeart</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>

  <nav class="navbar  navbar-default">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">HOME</a></li>
      <li><a href="#">SERVICE</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">ABOUT</a></li>
    </ul>
  </nav>


</header>






<%= yield %>

<footer class="navbar_footer  navbar-inverse" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <h3>アクセス</h3>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>

<!-- <script src="jquery-3.3.1.min.js"></script> -->
<!-- <script src="app.js"></script> -->
</body>
</html>







